[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
psycopg2 = "*"
fastapi-sqlalchemy = "*"
pydantic = "*"
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
psycopg2-binary = "*"
passlib = "*"
bcrypt = "*"
python-jose = "*"
python-multipart = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.13"
