@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Kavoon&family=Pacifico&family=Parisienne&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Kavoon&family=Pacifico&family=Parisienne&family=Quicksand:wght@300..700&family=Rock+Salt&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent scrolling if unnecessary */
}

.app-container {
  width: 8em;
}

.show-selection {
  text-align: center;
}

.hazbin-background {
    background-image: url("./HazbinHotelWallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .helluva-background {
    background-image: url("./HelluvaBossWallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .default-background {
    background-color: #85193C;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hazbin-text, .hazbin-characters, .hazbin-genres, .hazbin-tropes {
    font-family: 'Griffy';
  }

  .helluva-text, .helluva-characters, .helluva-genres, .helluva-tropes {
    font-family: 'Rock Salt';
  }