/* @import url('https://fonts.googleapis.com/css2?family=Griffy&family=Kavoon&family=Pacifico&family=Parisienne&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Griffy&family=Kavoon&family=Pacifico&family=Parisienne&family=Quicksand:wght@300..700&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Griffy&family=Kavoon&family=Pacifico&family=Parisienne&family=Quicksand:wght@300..700&family=Rock+Salt&display=swap');


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent scrolling if unnecessary */
}

.app-container {
  width: 100%;
  height: 100%;
}

.show-selection {
  text-align: center;
}

.hazbin-background {
    background-image: url("./HazbinHotelWallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .helluva-background {
    background-image: url("./HelluvaBossWallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .default-background {
    background-color: #4F1C51;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .default-text {
    font-family: 'Bangers', cursive;
    font-size: 100px;
    text-shadow: 5px 2px black;
    color: #C5172E;
  }

  .show-selection {
    font-family: 'Bangers', cursive;
    text-shadow: 5px 2px black;
    color: #C5172E;
    font-size: 50px;
  }

  .button-selection {
    padding: 50px;
  }

  .show-button {
    padding: 2.5rem 2.5rem;
    font-size: 1rem;
    background-color: #F5EFFF;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    box-shadow: 5px 2px black;
  }
  
  /* Unique hover colors */
  .hazbin-hotel-btn:hover {
    background-color: #e60039;  /* deep pink/red */
    color: white;
  }
  
  .helluva-boss-btn:hover {
    background-color: #540b75;  /* purple */
    color: white;
  }
  
  .crossover-btn:hover {
    background-color: #117a65;  /* green-teal */
    color: white;
  }

  .hazbin-text, .hazbin-characters, .hazbin-genres, .hazbin-tropes {
    font-family: 'Griffy';
  }

  .helluva-text, .helluva-characters, .helluva-genres, .helluva-tropes {
    font-family: 'Rock Salt';
  }